/* Agregando estilos
1. Posicion -> static, absolute, relative, fixed
2. Modelo de caja -> margin, border, padding, content
3. Tipografia -> tipos, tamanios de fuente
4. Estilos visuales -> box-shadow, border-radius, gradient, etc
5. Otros -> reglas CSS y mas
*/

/* fonts
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;  
*/

/* Colores */
:root {
  --bitcoin-orange:#f7931a;
  --soft-orange:#ffe9d5;
  --secondary-blue:#1a9af7;
  --soft-blue:#e7f5ff;
  --warm-black:#282623;
  --black:#201e1c;
  --grey:#bababa;
  --off-white:#faf8f7;
  --just-white:#fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}


/* Header */
header {
  text-align:center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  color: var(--off-white);
}


/* sections */
section {
  text-align:center;
}

section:nth-of-type(2) {
  background-color: var(--black);
  color: var(--off-white);
}

section:nth-of-type(2) div {
  background-color: var(--warm-black);
}

section:nth-of-type(3) {
  color: var(--off-white);
}

/* Footer */
footer {
  background-color: var(--bitcoin-orange);
  text-align:center;
}